@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fond global */
html,
body {
  background-color: black !important;
  color: white;
  margin: 0;
  padding: 0;

  /* Utilisation correcte sur iOS */
  height: 100%;
  min-height: 100%;
}

/* SAFE AREAS iPhone */
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  overflow-x: hidden !important;
}

/* ⚠️ RETIRER 100vh ici ! */
#app {
  background-color: black !important;
  width: 100%;
  min-height: 100%; /* remplace height:100vh */
  margin: 0 !important;
  padding: 0 !important;

  display: flex;
  flex-direction: column;
}

/* Version Desktop */
@media (min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* pas center → sinon ça casse le layout */
    padding: 0 !important;
  }
}
